/* Common CSS start*/
*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Common CSS end*/

/* Body start*/ 
header{
    background-color: $Orange_color;
}
main{
    background-color: ;
}
/* Body end*/